:root{
    --blanco: #ffffff;
    --negro: #000000;
    --primario: #ffc107;
    --secundario: #0097a7;
    --gris: #757575;
}

/*esto va de ley*/
html{
    font-size: 62.5%;
}
body{
    font-size: 16px;
}
/*hasta aqui*/

/*Se aplica desde 0 pixeles*/
body {
    background-color: bisque;
}

/*Recomendado
480 px para moviles
768 para tablets
*/

@media (min-width: 480px){
    body{
        background-color: blue;
    }
}

@media (min-width: 768px){
    body{
        background-color: cornflowerblue;
    }
}

/*el punto es para hacer refencia a clases*/
.titulo{
    text-align: center;
    font-size: 3.8rem;
}

.titulo span{
    font-size: 2rem;
}

.navegacion-principal{
    background-color: var(--secundario);
    /*margen es por fuera y padding es por dentro*/
    display: flex;/*flexbox esta diseñado para alinear elementos en tus diseños*/
    /*justify-content para FILAS/ align-items es para COLUMNAS (flex-direction)*/
    justify-content: space-between;
    font-weight: bold;
    font-size: 2rem;
    flex-direction: column;
    align-items: center;
}

@media (min-width: 768px){
 .navegacion-principal{
    flex-direction: row;
    justify-content: space-between;
 }
}

/*al poner el cursor en el hipervinculo*/
.navegacion-principal a:hover{
    background-color: var(--primario);
    color: var(--negro)
}

.navegacion-principal a{
    color: var(--blanco);
    text-decoration: none; /*remueve el estilo subrayado en el texto*/
    padding: 1rem;
}

contenedor{
    max-width: 120rem; /*1200 pixeles porque 1rem=10px*/
    margin: 0 auto;
}

.nav-bg{
    background-color: var(--secundario);
}

.hero{
    background-image: url(../img/hero.jpg); /*../ es para regresar un nivel 
    de directorio ya que la carpeta "img" esta afuera de ""css*/
    background-repeat: no-repeat ; /*Sirve para evitar la repeticion cuando la imagen es pequeña*/
    background-size: cover; /*Sirve para cubrir la imagen con todo el tamaño*/
}